@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');


 /* configuration of general font type */
html, body, [class*="css"] {
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  } 

.body {
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
    line-height: 1.6;
}

  p {
      font-size: 16px; 
      line-height: 1.5;
      text-align: justify;
  }

  h1 {
      /* font-size: 50px; */
      color: #4CAF50; /* Leafy green */
      margin-top: 0px;
      font-weight: bold;
  }

  h2 {
      /* font-size: 30px; */
      color: #8B4513; /* Earthy brown */
      margin-top: 20px;
      font-weight: bold;
  }

  h3 {
      /* font-size: 24px; */
      color: #FF6F61; /* Floral pink */
      margin-top: 15px;
      font-weight: bold;
  }

  h4 {
      /* font-size: 18px; */
      color: #2E8B57; /* Forest green */
      margin-top: 20px;
      font-weight: bold;
  }

  h5 {
      /* font-size: 16px; */
      color: #556B2F; /* Olive green */
      margin-top: 20px;
      font-weight: bold;
  }

  h6 {
      /* font-size: 14px; */
      color: #6B8E23; /* Yellow-green */
      margin-top: 10px;
      font-weight: bold;
  }

  a.custom-link {
      color: #FF6F61; /* Soft pink for links */
  }

  a.custom-link:hover {
      color: #4CAF50; /* Leafy green for hover state */
  }